import { Story, Meta } from '@storybook/react'
import {{pascalCase name}}, { {{ props }} } from '.'
import theme from 'styles/theme'

import props from './mock'

const parameters = {
  backgrounds: {
    default: 'white',
    values: [
      { name: 'main', value: `${theme.colors.mainBg}` },
      { name: 'white', value: `${theme.colors.white}` },
      { name: 'dark', value: `${theme.colors.black}` }
    ]
  }
  // layout: 'fullscreen',
}

export default {
  component: {{pascalCase name}},
  title: 'Design System/{{atomic}}/{{pascalCase name}}',
  args: props,
  parameters
} as Meta

export const Mobile: Story<{{ props }}> = (args) => (
  <div>
    <{{pascalCase name}} {...args} />
  </div>
)

Mobile.parameters = {
  viewport: {
    defaultViewport: 'mobile2'
  }
}

export const Default: Story<{{ props }}> = (args) => (
  <div>
    <{{pascalCase name}} {...args} />
  </div>
)
